{% extends "base.html" %}

{% block content %}
{% include "menu.html" %}

<div class="container login-form-setting">
	{% csrf_token %}
    <div class='col-md-12'>
        <h2>Add User</h2>
    </div>

    {% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	<form class="form-horizontal" role="form" method="POST" action="{% url 'add-user' %}" autocomplete="on">
		{% csrf_token %}
		<div class="form-group">
		    <label for="fname" class="col-sm-3 control-label">First Name</label>
		    <div class="col-sm-3">
		        <input type="text" class="form-control" name='fname' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="lname" class="col-sm-3 control-label">Last Name</label>
		    <div class="col-sm-3">
		        <input type="text" class="form-control" name='lname' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="uname" class="col-sm-3 control-label">User Name</label>
		    <div class="col-sm-3">
		        <input type="text" class="form-control" name='username' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="email" class="col-sm-3 control-label">Email</label>
		    <div class="col-sm-3">
		        <input type="email" class="form-control" name='email' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="password" class="col-sm-3 control-label">Password</label>
		    <div class="col-sm-3">
		        <input type="password" class="form-control" name='password' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="database" class="col-sm-3 control-label">Database</label>
		    <select name="selectedDb" multiple>
		    	{% for db in databases %}
		    		<option value="{{db.pk}}">{{db.name}}</option>
		    	{% endfor %}
		    </select>
		</div>
		<div class="form-group">
			<div class="col-sm-3">
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</div>
		</div>
	</form>
</div>


{% endblock %}
