{% extends "base.html" %}

{% block content %}

{% include "menu.html" %}

<div class="container login-form-setting">
    {% csrf_token %}
    <div class='col-md-12'>
        <h2>List Product</h2>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Database</th>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for data in result %}
                {% for product in data.product_obj %}
                    <tr>
                        <td> {{data.user}} </td>
                        <td> {{data.database}} </td>
                        <td> {{product.name}} </td>
                        <td> {{product.quantity}} </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    
</div>


{% endblock %}
