{% extends "base.html" %}
{% block content %}
{% include "menu.html" %}

<div class="container">
    <div class='main_display_div'>
        <h4>Welcome <span>{{request.user}}</span></h4>
    </div>
</div>

{% endblock %}
