{% extends 'base.html' %}
{% block content %}

<div class="container login-form-setting">
	{% csrf_token %}
    <div class='col-md-8 col-xs-offset-4'>
        <h2>Login</h2>
    </div>
	<form class="form-horizontal" role="form" method="POST" action="." autocomplete="on">
		{% csrf_token %}
		<div class="form-group">
		    <label for="username" class="col-sm-3 control-label">Username</label>
		    <div class="col-sm-3">
		        <input type="text" class="form-control" name='username' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="password" class="col-sm-3 control-label">Password</label>
		    <div class="col-sm-3">
		        <input type="password" class="form-control" name='password' required>
		    </div>
		</div>
		<div class="form-group">
			<label for="password" class="col-sm-3 control-label"></label>
			<div class="col-sm-3">
				<input type="reset" value="Cancel" class="btn btn-default">
				<input type="submit" value="Login" class="btn btn-primary pull-right">
			</div>
		</div>
	</form>
</div>

{% endblock %}