{% extends "base.html" %}

{% block content %}
{% include "menu.html" %}

<div class="container login-form-setting">
	{% csrf_token %}
    <div class='col-md-12'>
        <h2>Add Product</h2>
    </div>

    {% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

	<form class="form-horizontal" role="form" method="POST" action="{% url 'add-product' %}" autocomplete="on">
		{% csrf_token %}
		<div class="form-group">
		    <label for="name" class="col-sm-3 control-label">Name</label>
		    <div class="col-sm-3">
		        <input type="text" class="form-control" name='name' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="quantity" class="col-sm-3 control-label">Quantity</label>
		    <div class="col-sm-3">
		        <input type="text" class="form-control" name='quantity' required>
		    </div>
		</div>
		<div class="form-group">
		    <label for="database" class="col-sm-3 control-label">Database</label>
		    <select name="selectedDb">
		    	{% for db in assigned_db %}
		    		<option value="{{db.instance}}">{{db.name}}</option>
		    	{% endfor %}
		    </select>
		</div>
		<div class="form-group">
			<div class="col-sm-3">
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</div>
		</div>
	</form>
</div>


{% endblock %}
