{% extends "base.html" %}

{% block content %}

{% include "menu.html" %}

<div class="container login-form-setting">
	{% csrf_token %}
    <div class='col-md-12'>
        <h2>List Product</h2>
    </div>

    <table class="table table-striped table-hover">
    	<thead>
    		<tr>
    			<th>Database</th>
    			<th>Product</th>
    			<th>Quantity</th>
    		</tr>
    	</thead>
    	<tbody>
    		{% for database in result %}
    			{% for product in database.products %}
	    			<tr>
						<td>{{database.databaseName}}</td>
    					<td> {{product.name}} </td>
    					<td> {{product.quantity}} </td>
	    			</tr>
    			{% endfor %}
    		{% endfor %}
    	</tbody>
    </table>
    
</div>


{% endblock %}
