<div>
	Please find the login credentials below.
</div>
<table>
	<tbody>
		<tr>
			<td>Username = </td> <td> {{username}}</td>
		</tr>
		<tr>
			<td>Password = </td> <td> {{password}}</td>
		</tr>
	</tbody>
</table>