<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    {% if user.is_superuser %}
    	<a class="navbar-brand" href="{% url 'add-user' %}">Add User</a>
    	<a class="navbar-brand" href="{% url 'display-user-and-product' %}">Display User & Product</a>
    {% else %}
    	<a class="navbar-brand" href="{% url 'add-product' %}">Add Product</a>
    	<a class="navbar-brand" href="{% url 'list-product' %}">List Product</a>
    {% endif %}
    <a href="{% url 'logout' %}" class="navbar-brand navbar-right" id='logout_user'>Logout</a>
  </div>
</nav>